# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore all contents of the assignments directory
assignments/**

# But do NOT ignore any file named 'assignment.ipynb' inside any subdirectory
!assignments/**/
!assignments/**/assignment.ipynb

# Ignore virtual environments
ml_25/
.env/
.venv/
.python-version

# Ignore OS & editor files
.DS_Store
*.swp

# Ignore utility scripts
create_github_repo.sh